@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=DM+Sans&display=swap');

body {
  color: black;
  font-family: 'Archivo', sans-serif;
}

input, button, select {
  color: black;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline-color: rgb(0, 0, 39);
}

.btn:active:focus, .btn:focus {
  box-shadow: 0 0 0 0.15rem rgb(33 37 41 / 20%)
}