@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


body {
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
}

input, button, select {
  color: black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.form-select {
  max-width: 140px;
}

.btn:active:focus, .btn:focus {
  box-shadow: none;
}

.bg-color {
  background-color: #0d6efd0d;
}

.btn-lg {
  background-color:#0d6efdb8;
  border-color: #0d6efdb8;
  color: white;
}

.font-lg {
  font-size: 1.2rem;
}

.font-df {
  font-size: 1rem;
}

.card {
  background-color: white;
  box-shadow: 8px 8px 8px #0404041c;
}

.form-control:focus, .form-select:focus {
  color:#0d6efdb8;
  background-color: #fff;
  border: solid;
  outline-width: 2px;
  border-color: #0d6efdb8;
  border-width: thin;
  outline-color:  #0d6efdb8;
  outline-style: revert;
  box-shadow: none;
}

.table {
  margin-bottom: 0;
}

td {
  vertical-align: middle;
  }

img {
  width: 2rem;
}

.margin {
  margin: 4rem!important
}

.padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 425px) {
  input::placeholder {
  font-size: 0.7rem;
  }
  table.table {
    font-size: 0.7rem;
  }
  .table>:not(caption)>*>* {
    padding: .3rem .3rem;
  }
  .margin {
    margin: 2rem!important
  }
  .padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
